# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BackgroundScrutor.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Pato\Documents\projects\csharp\BackgroundScrutor\.idea\.idea.BackgroundScrutor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
